{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.date|date('Y-m-d') }}</td>
                    <td><a href="{{ path('users.show', {'id': user.id}) }}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user_role(user.role) }}</td>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}